.product-card {
    text-align: center;
    background-color: white;
    max-width: 273px;
    padding-top: 37px;
    padding-bottom: 18px;
}

.card_name {
    font: 500 16px "Inter", open-sans;
}

.card_img {
    width: 209px;
    height: 139px;
}

.card-info {
    display: flex;
    align-items: center;
    padding-left: 27px;
    padding-right: 13px;
    gap: 40px;
}

.card-info_price {
    color: #fc5b00;
    display: flex;
    align-items: baseline;
    font: 500 24px "Inter", open-sans;
}

.card-info_price span {
    font: 700 16px "Inter", open-sans;
}

.card-info_quantity {
    font: 500 15px "Inter", open-sans;
}

.card-info_order {
    color: #05bc52;
    font: 500 15px "Inter", open-sans;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.card-info_order p {
    padding-left: 10px;
}