.input__label:nth-child(1) {
    margin-bottom: 46px;
}

.input__label:nth-child(2) {
    margin-bottom: 37px;
}

.input__login {
    color: inherit;
    background-color: inherit;
    height: 56px;
    border: none;
    padding-left: 20px;
    outline: none;
}

.eye__password {
    color: inherit;
    width: 30px;
    height: 30px;
    padding-right: 16px;
}