.login_input {
  color: #44b26f;
  background-color: #d9d9d9;
  width: 257px;
  height: 56px;
  border: none;
  padding-left: 20px;
}

.login_input::placeholder {
  color: #44b26f;
  opacity: 1;
  font: 600 14px "Inter", serif;
}

.login_input:nth-child(1) {
  margin-bottom: 46px;
}

.login_input:nth-child(2) {
  margin-bottom: 37px;
}
