table {
  width: 872px;
  border-collapse: collapse;
  color: white;
  background-color: #d9d9d9;
  font: 700 16px "Inter", serif;
}

th,
td {
  width: 145px;
  height: 39px;
  text-align: center;
  padding: 0;
}

thead th {
  background-color: #0ec86f;
  color: #726969;
  font-weight: bold;
  padding: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content .icon {
  margin-left: 10px;
  width: 15px;
}

tbody tr:nth-child(2n) {
  background-color: #3cd78c;
  color: #a58f8f;
}
