.logo-container {
    max-width: 1334px;
    margin: 0 auto;
}

.header-btns {
    max-width: 1245px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 31px;
}