.input__login {
    color: inherit;
    background-color: inherit;
    height: 56px;
    width: 277px;
    border: none;
    padding-left: 20px;
    outline: none;
}

.eye__password {
    color: inherit;
    width: 30px;
    height: 30px;
    padding-right: 16px;
}