.login-card {
    background-color: white;
    width: 500px;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rozetka-logo {
    margin-top: 80px;
    margin-bottom: 85px;
    width: 240px;
    height: 40px;
}

.login-card_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.login-card_btn {
    color: white;
    font: 600 24px "Inter", serif;
    background-color: #44b26f;
    width: 277px;
    height: 56px;
    border: none;
    cursor: pointer;
}

.input_error-label {
    border: solid red 1px;
}

.input_label {
    color: #44b26f;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 277px;
}

.input_label ::placeholder {
    color: #44b26f;
    opacity: 1;
    font: 600 14px "Inter", serif;
}

.loader-icon {
    font-size: 3rem;
    position: relative;
}

.authentication-login {
    color: red;
    font: 600 20px "Open Sans", monospace;
}

.login-card_error {
    color: red;
}

.eye-password {
    color: inherit;
    width: 30px;
    height: 30px;
    padding-right: 16px;
}